@import "src/components/common/styles/base/variables";
$bg-item: hsl(0, 0%, 95%);
$bg-item-odd: hsl(0, 0%, 90%);

.resultsBoard {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 0;

  list-style-type: none;
}

.item {
  padding: 4px 8px;
  background-color: $bg-item;
}

.item:nth-child(odd) {
  background-color: $bg-item-odd;
}
